/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* GENERAL */

body {
  background-color: #e6eff5;
  color: #fff;
  font-family: "Karla", sans-serif;
  font-size: 0.875rem;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

/* UTILITY */

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}

/* MAIN */

main {
  border-radius: 0.3125rem;
  overflow: hidden;
  box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);
  max-width: 40rem;
  margin: 4.2rem 2rem;
}

@media (min-width: 40rem) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* MAIN INTRO */

.main__intro {
  background-color: #005f8e;
  padding: 1.75rem 1.5rem 2rem 1.5rem;
}

@media (min-width: 40rem) {
  .main__intro {
    grid-column: span 2;
    padding: 2.5rem;
  }
}

.intro__title {
  color: #3ae9e6;
  font-size: 1.25rem;
  letter-spacing: -0.01563rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 40rem) {
  .intro__title {
    font-size: 1.5rem;
    letter-spacing: -0.01563rem;
  }
}

.intro__subtitle {
  color: #d0ff00;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: -0.01169rem;
  margin-bottom: 1rem;
}

@media (min-width: 40rem) {
  .intro__subtitle {
    font-size: 1.125rem;
    line-height: inherit;
    letter-spacing: -0.01406rem;
    margin-bottom: 0.69rem;
  }
}

.intro__text {
  color: #ffffff;
  line-height: 1.625rem;
  letter-spacing: -0.01094rem;
}

@media (min-width: 40rem) {
  .intro__text {
    font-size: 1rem;
    letter-spacing: -0.0125rem;
  }
}

/* MAIN PLAN */

.main__plan {
  background-color: #0c1d3b;
  padding: 1.5rem;
}

@media (min-width: 40rem) {
  .main__plan {
    padding: 2.5rem 2.44rem 2.44rem 2.5rem;
  }
}

.plan__title {
  font-size: 1.125rem;
  letter-spacing: -0.01406rem;
  margin-bottom: 1.12rem;
}

.plan__fee {
  display: flex;
  align-items: center;
  gap: 0.69rem;
  margin-bottom: 0.25rem;
}

.fee__price {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.025rem;
}

.fee__recurrence {
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: -0.0125rem;
  opacity: 0.5;
}

.plan__description {
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: -0.0125rem;
  margin-bottom: 1.62rem;
}

.plan__btn {
  background-color: #d0ff00;
  color: #005f8e;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.0125rem;
  border: none;
  border-radius: 0.3125rem;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 0.91rem 0;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.plan__btn:is(:hover, :focus) {
  background-color: #9bcb00;
}

/* MAIN ABOUT */

.main__about {
  background-color: #041959cc;
  padding: 1.5rem;
}

@media (min-width: 40rem) {
  .main__about {
    padding: 2.5rem;
  }
}

.about__title {
  font-size: 1.125rem;
  letter-spacing: -0.01406rem;
  margin-bottom: 1.12rem;
}

.about__list {
  line-height: 1.25rem;
  letter-spacing: -0.01094rem;
  list-style: none;
  opacity: 0.75;
}
